<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'components/header.html' %}
  </head>
  <body class="bg-gray-900 text-white">
    {% include 'components/navbar.html' %}
    <div class="container mx-auto px-4 pt-5">
      <h1 class="text-3xl font-bold">Image Detect</h1>
      <p class="mt-4">This is a container with padding and centered content.</p>
    </div>
  </body>
  {% include 'components/footer.html' %}
</html>
