<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'components/header.html' %}
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="container px-4 pt-3">
      <div class="row g-2">
        <div class="col-12 col-md-6">
          <div class="input-group w-100">
            <input
              type="text"
              class="form-control text-muted fs-6"
              placeholder="Search..."
            />
            <button class="btn border text-muted">Search</button>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex gap-2">
          <!-- Sort by Date Dropdown -->
          <div class="dropdown w-100">
            <button
              class="btn btn-light border dropdown-toggle d-flex flex-row justify-content-between align-items-center text-muted fs-6 w-100"
              type="button"
              id="sortDateDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sort by Date
            </button>
            <ul class="dropdown-menu w-100" aria-labelledby="sortDateDropdown">
              <li>
                <a class="dropdown-item active" href="#" data-value="default"
                  >Sort by Date</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" data-value="asc">Ascending</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" data-value="desc"
                  >Descending</a
                >
              </li>
            </ul>
          </div>

          <!-- Sort by Classes Dropdown -->
          <div class="dropdown w-100">
            <button
              class="btn btn-light border d-flex flex-row justify-content-between align-items-center dropdown-toggle text-muted fs-6 w-100"
              type="button"
              id="sortClassDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sort by Classes
            </button>
            <ul class="dropdown-menu w-100" aria-labelledby="sortClassDropdown">
              <li>
                <a class="dropdown-item active" href="#" data-value="default"
                  >Sort by Classes</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" data-value="asc">Ascending</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" data-value="desc"
                  >Descending</a
                >
              </li>
            </ul>
          </div>

          <!-- Detect Button -->
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Detect
          </button>
        </div>
      </div>
    </div>
    <div class="container px-4 pt-3">
      <div class="row g-5">
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(148, 230, 148);
                  color: green;
                  padding: 5px;
                  border: 2px solid green;
                "
                >Passed</span
              >
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(148, 230, 148);
                  color: green;
                  padding: 5px;
                  border: 2px solid green;
                "
                >Passed</span
              >
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(148, 230, 148);
                  color: green;
                  padding: 5px;
                  border: 2px solid green;
                "
                >Passed</span
              >
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(148, 230, 148);
                  color: green;
                  padding: 5px;
                  border: 2px solid green;
                "
                >Passed</span
              >
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(239, 189, 189);
                  color: red;
                  padding: 5px;
                  border: 2px solid red;
                "
                >Invalid</span
              >
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(148, 230, 148);
                  color: green;
                  padding: 5px;
                  border: 2px solid green;
                "
                >Passed</span
              >
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(148, 230, 148);
                  color: green;
                  padding: 5px;
                  border: 2px solid green;
                "
                >Passed</span
              >
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(148, 230, 148);
                  color: green;
                  padding: 5px;
                  border: 2px solid green;
                "
                >Passed</span
              >
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex flex-row">
          <div class="border rounded-4" style="width: 100px; height: 100px">
            <img
              style="object-fit: cover; width: 100%; height: 100%"
              src="{{ url_for('static', filename='img/MangroveVision.png') }}"
              alt=""
            />
          </div>
          <div class="ms-3">
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              FILENAME: Image_01.jpg
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              CLASS: Species
            </p>
            <p class="text-muted mt-1" style="font-size: 13px; margin: 0px">
              STATUS:
              <span
                class="rounded-4 fw-bolder"
                style="
                  background-color: rgb(148, 230, 148);
                  color: green;
                  padding: 5px;
                  border: 2px solid green;
                "
                >Passed</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-between px-4 pt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
      <p class="text-muted">Page 1 of 5</p>
    </div>
    {% include 'components/footer.html' %}
  </body>
</html>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detect Species</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="border p-5 d-flex justify-content-center rounded-4">
          <!-- File input -->
          <input type="file" id="file-input" class="form-control" />
        </div>
        <!-- Image preview section -->
        <div
          id="image-preview"
          class="d-flex justify-content-center mt-3"
          style="display: none"
        >
          <img
            id="preview-img"
            src=""
            alt="Image Preview"
            class="img-fluid"
            style="max-width: 100%; max-height: 300px"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script>
  // Event listener for file input change
  document
    .getElementById("file-input")
    .addEventListener("change", function (event) {
      const file = event.target.files[0];
      const previewImg = document.getElementById("preview-img");
      const imagePreview = document.getElementById("image-preview");

      if (file) {
        const reader = new FileReader();

        // When the file is read, display the image
        reader.onload = function (e) {
          previewImg.src = e.target.result;
          imagePreview.style.display = "block"; // Show the image preview section
        };

        reader.readAsDataURL(file); // Read the file as a data URL
      }
    });
</script>
